/* TopSection */
#top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
/* PlayerInfo */

#name-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 15rem;
}

.name-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.name-field {
  border: none;
  height: 2rem;
}

/* Virtue */

#virtue {
  margin: 0;
}
